# Auto detect text files and perform LF normalization
* text=auto
git init
git add .
git commit -m "Initial commit"
git remote add origin https://github.com/Edgarkibe/ai-translator-app.git
git branch -M main
git push -u origin main